body {
    font-family: 'Poppins', sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
}

header h1 {
    font-size: 3rem;
    color: #e63946;
    margin-bottom: 10px;
}

#errorMessage {
    font-size: 1.5rem;
    color: #a8dadc;
    margin: 20px 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#errorImage {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.home-button {
    background-color: #457b9d;
    color: #ffffff;
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.home-button:hover {
    background-color: #1d3557;
    transform: translateY(-3px);
}
